*{
    font-family: "Montserrat", serif;
}
.titles {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.product-page{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}

.product-secondary-title {
    color: black;
    font-weight: bold;
    font-size:0.8rem;
    margin: 0;
}

.product-title{
    color: #5B91C8;
    margin: 0;
}
.main-product-img{
    width: 5rem;
    height: auto;
}
.thumbnail-img{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    object-fit: cover
}
.selected-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.quantity-form{
    width: 10rem;
    display: flex;
}
.quantity-input{
    width: 5rem;

}
.image-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3%;
}
.quantity-input {
    border: 3px solid #5B91C8;
    border-left: none;
    border-right: none;
    padding: 10px;
}
.quantity-decrease {
    border: 3px solid #5B91C8;
    border-right: none;
    padding: 10px;
    background-color: white;
}
.quantity-increase {
    border: 3px solid #5B91C8;
    border-left: none;
    padding: 10px;
    background-color: white;
}

.add-to-cart{
    background-color: #5B91C8;
    text-align: center;
    padding: 7px 60px;
    color: white;
    border: #5B91C8;
    border-radius: 4px;
}

.product-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 10px;

}

.type-dropdown {
    background-color: white;
    border: 3px solid #5B91C8;
    margin-top: 10px;
}